# Emacs temporary files
*~

# Python files
*.pyc

# Tutorials
tutorials/examples/
tutorials/md5/build/

#
zlib/conan-zlib
openssl/conan-openssl
hdf5/conan-hdf5
petsc/conan-petsc
openmpi/conan-openmpi
gtest/conan-gtest


